body{
    margin: 0;
}

#fluid_wrapper {
    position: static;
    opacity: 1;
    z-index: 1;
}

#overlay {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
}

#fluid_container {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 1;
}